/*
Austin Eral
austineral@ymail.com
5/24/27
Digit Recognition Final Project
CS 17.11

Style sheet for the GUI.
 */


.background
{
    -fx-background-image: url(background2.jpg);
}

.button {
    -fx-background-color: RGBA(255, 255, 255, .2);
    -fx-border-color: transparent;
}